MONGO_URI=mongodb+srv://ai_job_tracker_db_user:n7g4HA7UAE9oX3PH@job-tracker-db.camtlwf.mongodb.net/?appName=job-tracker-db
JWT_SECRET=super-secret-jwt-key-for-development-12345
GEMINI_API_KEY=AIzaSyDnsN-sSI2kguYpgesm8NPicaPfwSoHFp0
